.overview-box {

}

.overview-piechart {
  float: left;
}

.plan-h1 {
  padding: 25px;
}

.plan-form {
  display: flex;
  justify-content:flex-start;
}

.plan-content {
  padding: 0 25px;
}

.plan-button {
  height: 25px;
  margin: 5px;
}
